# Maven
target/

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Compiled Java files
*.class

# Maven wrapper (ignore only binaries if you don't use them)
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# OS files
.DS_Store
Thumbs.db